doctype html  
html(lang="en")  
  head
    title Hey Diddle Diddle
  body
    h1 The Cow Jummped Over The Moon
    p Let's learn.
    p
     a(href='http://localhost:8080/ipfs/QmRZN55QhFRLys8WT15zGBwRdtNTQkv9pAEzXYQ9kHdYmb/variables.mp4') JavaScript Variables #1
    p
     a(href='http://localhost:8080/ipfs/QmQdGp5RykPxGUDgmhkTu7Q83WNPYue8kzsmkNVzyMU46a/jsonlesson1.mp4') JavaScript Object Notation - JSON
    p
     a(href='http://localhost:8080/ipfs/QmWBMVXytxUX1JvHSYsNTae87nUX3vY6cZXp4AXPZexcMm/functions.mp4') JavaScript Functions #1
     