doctype html  
html(lang="en")  
  head
    title Hey Diddle Diddle
  body
    h1 The Cow Jummped Over The Moon
    p Let's learn.
    a(href='http://localhost:8080/ipfs/QmRZN55QhFRLys8WT15zGBwRdtNTQkv9pAEzXYQ9kHdYmb/variables.mp4') JavaScript Variables #1