doctype html  
html(lang="en")  
  head
    title Hey Diddle Diddle
  body
    h1 The Cow Jummped Over The Moon
    p The dish ran away with the spoon!
    p
     a(href='https://youtu.be/P1gcM9xY32Q') JavaScript Variables #1
    p
     a(href='https://youtu.be/AMSPAIRfQdY') JavaScript Object Notation - JSON
    p
     a(href='https://youtu.be/jwFvuvx2nUs') JavaScript Functions #1
    p
     a(href='https://youtu.be/CJpKGLgDgBk') JavaScript String Methods
    p
     a(href='https://youtu.be/RXeLn44k_k0') JavaScript Arrays
    p
     a(href='https://youtu.be/bcgNhD0VUpU') JavaScript Array Methods
    p
     a(href='https://www.youtube.com/watch?v=V9zHYZRTRSk') JavaScript Variable Scope
    
     