doctype html  
html(lang="en")  
  head
    title Hey Diddle Diddle
  body
    h1 The Cow Jummped Over The Moon
    p Let's learn.
    a(href='http://localhost:8080/ipfs/QmaVHiokWjmn2gjV45xQ4b6hRNVFmwbGf35zao23fDdQW6') JSON Lesson #1